

<div class="message message-success">
    <h4>@T["Welcome to the Orchard Skills Raspberry Pi Theme."]</h4>
</div>









<div class="mb-1 d-flex">
    <label for="">GPIO 1</label>
    <button type="button" class="ms-3 btn btn-primary active" data-mdb-toggle="button" autocomplete="off">
        1
    </button>

    <button type="button" class=" me-3 btn btn-primary" data-mdb-toggle="button" autocomplete="off"
        aria-pressed="true">
        2
    </button>
    <label for="">GPIO 2</label>
</div>



<div class="mb-1 d-flex">
    <label for="">GPIO 3</label>
    <button type="button" class=" ms-3 btn btn-primary" data-mdb-toggle="button" autocomplete="off">
        3
    </button>

    <button type="button" class="me-3 btn btn-primary active" data-mdb-toggle="button" autocomplete="off"
        aria-pressed="true">
        4
    </button>
    <label for="">GPIO 4</label>
</div>

<div class="mb-1 d-flex">
    <label for="">GPIO 5</label>
    <button type="button" class="ms-3 btn btn-primary active" data-mdb-toggle="button" autocomplete="off">
        5
    </button>

    <button type="button" class="me-3 btn btn-primary " data-mdb-toggle="button" autocomplete="off"
        aria-pressed="true">
        6
    </button>
    <label for="">GPIO 6</label>
</div>

<div class="mb-1 d-flex">
    <label for="">GPIO 7</label>
    <button type="button" class=" ms-3 btn btn-primary active" data-mdb-toggle="button" autocomplete="off">
        7
    </button>

    <button type="button" class="me-3 btn btn-primary active" data-mdb-toggle="button" autocomplete="off"
        aria-pressed="true">
        8
    </button>
    <label for="">GPIO 8</label>
</div>


<div class="mb-1 d-flex">
    <label for="">GPIO 9</label>
    <button type="button" class="ms-3 btn btn-primary" data-mdb-toggle="button" autocomplete="off">
        9
    </button>

    <button type="button" class="me-3 btn btn-primary active" data-mdb-toggle="button" autocomplete="off"
        aria-pressed="true">
        10
    </button>
    <label for="">GPIO 10</label>
</div>


<div class="mb-1 d-flex">
    <label for="">GPIO 11</label>
    <button type="button" class=" ms-2 btn btn-primary active" data-mdb-toggle="button" autocomplete="off">
        11
    </button>

    <button type="button" class=" me-3 btn btn-primary " data-mdb-toggle="button" autocomplete="off"
        aria-pressed="true">
        12
    </button>
    <label for="">GPIO 12</label>
</div>


<div class="mb-1 d-flex">
    <label for="">GPIO 13</label>
    <button type="button" class="ms-2 btn btn-primary" data-mdb-toggle="button" autocomplete="off">
        13
    </button>

    <button type="button" class="me-3 btn btn-primary " data-mdb-toggle="button" autocomplete="off"
        aria-pressed="true">
        14
    </button>
    <label for="">GPIO 14</label>
</div>